.loader {
  padding: 4rem 0;
}
.loader img {
  width: 120px;
  animation: rotate 3s ease-in-out infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
