/*====================*/
/*      NAVBAR        */
/*====================*/
.navbar {
  position: relative;
  background-color: var(--color-background);
  color: var(--black-color);
  padding: 1.2rem 2rem;
  z-index: 1000;
}

/* Navbar Brand */
.navbar-brand {
  width: 90px;
}

.navbar-brand span {
  margin-left: 1rem;
  color: var(--black-color);
}

/* Brand and Toggler */
.brand-and-toggler {
  width: 100%;
}

.navbar-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Toggler Button (Hamburgare) */
.navbar-toggler-btn {
  color: var(--black-color);
  background: transparent;
  z-index: 11;
  transition: color 0.3s ease;
}

.menu-icon:hover {
  color: var(--color-primary);
}

/* Collapse (mobilmeny) */
.navbar-collapse {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: var(--color-background);
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10rem 3rem 0 3rem;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.show-navbar-collapse {
  transform: translateX(0);
}

/* Navigation Items */
.nav-item {
  margin-bottom: 1.8rem;
}

.nav-link {
  color: var(--black-color);
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--color-primary);
}

/* Desktop layout */
@media screen and (min-width: 992px) {
  .navbar-collapse {
    position: relative;
    height: auto;
    width: 100%;
    background-color: transparent;
    transform: translateX(0);
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar-nav {
    display: flex;
    gap: 2.8rem;
    align-items: center;
  }

  .navbar-toggler-btn {
    display: none;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 0;
  }

  .nav-link {
    font-size: 1.7rem;
    opacity: 0.85;
  }
}
