/* Navbar */
.navbar {
  position: relative; /* Lägg till detta för att säkerställa att z-index fungerar korrekt */
  color: #311e0e; /* Vit textfärg för kontrast */
}

/* Navbar Brand */
.navbar-brand {
  width: 90px;
}

.navbar-brand span {
  margin-left: 1rem;
}

.brand-and-toggler {
  width: 100%;
}

.navbar-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar-toggler-btn {
  transition: var(--transition);
  z-index: 11; /* Håller knappen ovanpå allt */
  color: #0a0601; /* Vit text på knappen för kontrast */
}

.navbar-collapse {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  background: linear-gradient(#fffefe, Transparent); /* Bakgrundsgradient */
  height: 100%;
  width: 160px;
  display: flex;
  padding: 10rem 3rem 0 3rem;
  transform: translateX(100%); /* Döljer navbaren initialt */
  transition: var(--transition);
}

.show-navbar-collapse {
  transform: translateX(0); /* Visar navbaren när den är öppen */
}

.nav-item {
  margin-bottom: 1.4rem;
}

.nav-link {
  transition: var(--transition);
  color: #311e0e; /* Vit textfärg för nav-länkar */
}

.nav-link:hover {
  color: #4b3621; /* Guldbrun när hover-effekten används */
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    position: relative;
    height: auto;
    padding: 0;
    width: 100%;
    background-color: transparent; /* Transparent bakgrund på större skärmar */
    transform: translateX(0);
    justify-content: flex-end;
  }

  .navbar-toggler-btn {
    display: none; /* Dölj hamburgerikonen på större skärmar */
  }

  .nav-item {
    margin-bottom: 0;
    margin-left: 2.8rem;
  }

  .nav-link {
    color: #3e2a47; /* Mörk Brun text för större skärmar */
    font-size: 1.7rem;
    font-weight: 500 !important;
    opacity: 0.8;
  }

  .navbar-nav {
    display: flex;
  }
}
